.parent {
  border: 5px solid red;
  width: 600px;
  overflow: hidden;
}

.child {
  background-color: gold;
  border: 1px solid blue;
  width: 200px;
  height: 200px;
  float: left;
  box-sizing: border-box;
}
.child  :nth-child(1){
  background-color: gold;
} 
.child  :nth-child(2){
  background-color: green;
} 
.child  :nth-child(3){
  background-color: crimson;
} 