@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  color: #333333;
}
body {
  font-family: "맑은 고딕";
  font-size: 18px;
  background: #ffffff;
  color: #333333;
}
#wrap {
  width: 1000px;
  height: 700px;
  background: rgb(210, 180, 140);
  margin: 0 auto;
}

/* gnd  */
header {
  width: 100%;
  height: 100px;
  background: gold;
}
header h1 {
  float: left;
  width: 250px;
  height: 100px;
  background: red;
}
header .gnb {
  float: left;
  width: 750px;
  height: 100px;
  background: lime;
}
.main__menu {
  float: left;
  width: 187px;
  height: 40px;
  background: #48487d;
  text-align: center;
  line-height: 40px;
}
.main__menu > a {
  color: #eee;
  font-weight: bold;
}
.main__menu :hover {
  background: #fabd43;
}

.sub__menu {
  position: absolute;
  z-index: 999;
  display: none;
}
.sub__menu > li {
  width: 187px;
  height: 40px;
  background: #ddd;
  text-align: center;
  line-height: 40px;
}
.sub__menu > li:hover {
  background: #fabd43;
}
.sub__menu > li:hover > a {
  color: #fff;
  font-weight: bold;
}
/* gnd  */

.container {
  width: 100%;
  height: 500px;
  background: pink;
}
.slide {
  position: relative;
  width: 100%;
  height: 300px;
  background: gold;
  overflow: hidden;
}
.slider li {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}
.slider li span {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  line-height: 50px;
  width: 300px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.6);
  color: #eee;
  font-weight: bold;
}

.slider li img {
  width: 100%;
  height: 300px;
}

.contents {
  width: 100%;
  height: 200px;
  background: tomato;
}
.tab {
  position: relative;
  float: left;
  width: 400px;
  height: 200px;
  background: gold;
}
.tab__1,
.tab__2 {
  float: left;
  width: 120px;
  height: 40px;
  background: #48487d;
  text-align: center;
  line-height: 40px;
}
.tab__1 > a,
.tab__2 > a {
  color: #fff;
  font-weight: bold;
}
.tab__1:hover,
.tab__2:hover {
  background: #fabd43;
}
.notice {
  width: 380px;
  height: 150px;
  background: white;
  border: 3px solid #48487d;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.notice li {
  float: left;
  width: 350px;
  text-align: left;
  padding: 5px;
  box-sizing: border-box;
}
.notice li:nth-child(2n) {
  background: #ddd;
}
.notice span {
  float: right;
}
.notice li:hover {
  background: #fabd43;
  font-weight: bold;
}

.gallery {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 380px;
  height: 150px;
  background: white;
  border: 3px solid #48487d;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.gallery img {
  float: left;
  width: 110px;
  margin: 14px 3px;
}
.gallery img:hover {
  opacity: 0.5;
}


.banner {
  float: left;
  width: 300px;
  height: 200px;
  background: pink;
}
.shotcut {
  float: left;
  width: 300px;
  height: 200px;
  background: lime;
}

footer {
  width: 100%;
  height: 100px;
  background: skyblue;
}
